

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.page-loading {
  font-size: 300%;
}

.icon-loading {
  animation: spin 1.5s linear infinite;
}

header .icon-loading {
  color: white;
}

.textarea {
  resize: none;
}